




/*
     FILE ARCHIVED ON 16:44:27 окт 11, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:17:26 июн 17, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

body{position:relative;top:93px;}
#banner{position:absolute;top:-93px;width:100%;height:90px;padding:2px 0;border-bottom:1px solid #ccc;background:#999999;* margin-left:-150px;}
-, #banner{margin-left:0px;}
#banner div.holder{width:720px;height:90px;margin:0 auto;}