




/*
     FILE ARCHIVED ON 16:44:55 окт 11, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:17:26 июн 17, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

.fdd2div_default{text-align:left;display:block;}
.fdd2div_default_main_link{color:#0066FF;outline:none;font-family:Verdana, Arial, Helvetica, sans-serif;text-decoration:none;padding:0 5px;}
.fdd2div_default a.collapsed{padding-right:16px;color:#0033FF;text-decoration:none;}
.fdd2div_default a.expanded{padding-right:16px;color:#0099FF;text-decoration:none;}
.fdd2div_default_ul_list{border:1px solid #B0B0B0;padding:10px;margin:0px;background-color:#EDEDED;top:15px;z-index:1000;}
.fdd2div_default_opt{margin-bottom:2px;}