




/*
     FILE ARCHIVED ON 16:44:31 окт 11, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:17:27 июн 17, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

#outer_left{margin-right:10px!important;}
#header{position:relative;height:auto;}
h1.headline{font-size:2.5em;line-height:1.2em;}
h1.headline, div.headline[style~=h1]{font-size:1.9em;line-height:1.2em;}
#header .head_1 table td{vertical-align:middle;}
div.head_1{font-size:1.1em;height:32px;}
.head_1 td.vam .inner_vam{top:0px!important;* top:1px!important;_top:2px!important;}
div.head_2{height:auto;}
#centrecontent{padding:5px 0px 25px 0px!important;}
div.conl{margin-top:0px;padding-top:0px;margin-bottom:25px;}
.head_ddown{top:94px;}
body{top:0px;}
#banner{position:relative;top:0px;margin-left:0px;}